.header {
  position: relative;
  width: 300px;
  height: 40px;
  border: 1px solid #931d2b;
  margin: 20px auto;
  background-image: -webkit-linear-gradient(top, #c91c33, #b7172d);
  box-shadow: 0 10px 3px -9px rgba(0, 0, 0, 0.5),
    inset 0 0 30px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  font-size: 24px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
  text-shadow: 0 2px 0 #963c43;
}

.header::before {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: -31px;
  display: block;
  width: 1px;
  height: 0;
  border-top: 20px solid #a01326;
  border-right: 20px solid #a01326;
  border-bottom: 20px solid #a01326;
  border-left: 20px solid transparent;
  box-shadow: 10px 0 3px #7f1e29;
  content: "";
}

.header::after {
  position: absolute;
  z-index: -1;
  top: 5px;
  right: -31px;
  display: block;
  width: 1px;
  height: 0;
  border-top: 20px solid #a01326;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #a01326;
  border-left: 20px solid #a01326;
  box-shadow: -10px 0 3px #7f1e29;
  content: "";
}

.header a {
  margin: 0 15px;
  color: burlywood;
  text-decoration: none;
}

.selected {
  color: moccasin;
}
