.container {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  backdrop-filter: blur(10px);
  background: none;
}

@supports not (backdrop-filter: blur(10px)) {
  .container {
    background: rgba(224, 226, 233, 0.5);
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  border: 0 none;
  background: none;
  cursor: default;
  text-decoration: none;
}

.popup {
  max-width: 80%;
  margin: auto;
}
