.responsive-grid-layout {
  position: relative;
}

.responsive-grid-layout-simple {
  display: grid;
}

.react-grid-item.react-draggable-dragging {
  z-index: 3;
  transition: none;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  z-index: 0;
  background: #d6d6d6;
  box-shadow: 0 1px 6px #d6d6d6;
}

.grid-item-move {
  cursor: move;
}
