.wrapper {
  display: grid;
  grid-gap: 0 15px;
  grid-template:
    "picture name" auto
    "picture email" auto
    "error error" auto
    "submit submit" auto
    / 140px auto;
}

.picture {
  align-self: center;
  grid-area: picture;
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.error {
  margin-bottom: 0;
  color: var(--error-text-color);
  grid-area: error;
}

.submit {
  margin-top: 30px !important;
  grid-area: submit;
}
