:root {
  --text-color: #495057;
  --font-handwriting: "Indie Flower", cursive;
  --font-interface: "Kurale", sans-serif;
  --color-red: #db0a5b;
  --color-blue: #4898ed;
  --color-pink: #ce839a;
  --color-orange: #e98523;
  --color-green: #80b63c;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url("./images/diary.png");
  color: var(--text-color);
  font-family: var(--font-interface);
}

/* Reset */
input[type="submit"]:focus,
input[type="button"]:focus,
button:focus,
a:focus {
  outline: 0;
}
